:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}
@media (min-width: 40em) {
  :root {
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
  }
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  line-height: 1;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
}
input:focus:not(:focus-visible),
button:focus:not(:focus-visible),
select:focus:not(:focus-visible),
textarea:focus:not(:focus-visible) {
  outline: none;
  /* background-color: red; */
}
input:focus-visible,
button:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--clr-primary-400);
  /* background-color: blue; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--br);
}
a {
  text-decoration: none;
  /* font-family: var(--ff-sans); */
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
}
body {
  line-height: 1.6;
}

/* utility */
h1,
h2,
h3,
.section-subtitle,
.text-serif {
  font-family: var(--ff-serif);
  font-weight: var(--fw-200);
}
.text-500 {
  font-size: var(--fs-500);
}
.container {
  max-width: 50rem;
  margin: 0 auto;
}
.xl-space {
  margin-top: 5rem !important;
}
/* typography */
body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-400);
  line-height: 1.4;
  color: var(--clr-neutral-900);
  margin: 1.5rem;
}
.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}
.split {
  display: flex;
  flex-direction: column;
}
.split > * {
  flex-basis: 100%;
}
.split > * + * {
  margin: 4rem 0 0 0;
}
@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }
  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

.btn {
  font-family: var(--ff-sans);
  font-weight: var(--fw-700);
  text-decoration: none;
  color: var(--clr-neutral-900);
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
}
.btn::after {
  content: "\203A";
  font-weight: var(--fw-400);
  margin-left: 0.5em;
  font-size: var(--fs-400);
  position: relative;
  top: 0.1em;
}
.btn:hover,
.btn:focus {
  color: var(--clr-primary-400);
}
.bg-primary-300 {
  background-color: var(--clr-primary-300);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* general style */
.primary-header {
  min-height: 50vh;
  background-color: var(--clr-primary-400);
  border-radius: var(--br);
  padding: 1rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
/* @media (min-width: 40em) {
  .primary-header {
    min-height: 34.5rem;
  }
} */
.page-home .primary-header {
  min-height: 28.5rem;
  background-image: url(img/hero.jpg);
  background-position: center center;
}
.page-blog .primary-header {
  min-height: 34.5rem;
  background-image: url(img/blog.jpg);
  background-position: left center;
}
.page-article .primary-header {
  min-height: 34.5rem;
  background-image: url(img/article.jpg);
  background-position-x: center;
  background-position-y: 10rem;
  /* add layer */
}
@media (min-width: 40em) {
  .page-article .primary-header {
    background-position-x: 12rem;
    background-position-y: center;
  }
}
.text-readable-layer {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.text-readable-layer::after {
  /* add layer */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

.primary-header .container {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.primary-header .container > * {
  max-width: 12ch;
}
.primary-nav {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5rem;
  border-radius: var(--br);
  background-color: var(--clr-neutral-900);
}
.primary-nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0.8em 0;
  margin: 0;
}
.primary-nav li {
  line-height: 0;
}
.primary-nav a {
  color: var(--clr-neutral-200);
  line-height: 0;
}
@media (min-width: 40em) {
  .primary-nav {
    position: static;
    background-color: transparent;
  }
  .primary-header__inner {
    display: flex;
    justify-content: space-between;
  }
  .primary-nav ul {
    padding: 0;
  }
  .primary-nav li {
    line-height: 0.5;
    margin-left: 2.4em;
  }
  .primary-nav a {
    color: inherit;
  }
}

section {
  padding: 2.5rem 0;
}
@media (min-width: 40rem) {
  section {
    padding: 3.5rem 0;
  }
}
.footer-primary__nav {
  display: flex;
}
.footer-primary__nav > *:first-child {
  margin-right: 3em;
}
.footer-primary__nav dt {
  font-weight: var(--fw-300);
}
.footer-social {
  display: flex;
  font-weight: var(--fw-400);
}
.footer-social > * + * {
  margin-left: 2em;
}
.footer-primary-inner {
  --border: 2px solid var(--clr-primary-300);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 3em 0;
  margin: 2em 0;
}
.footer-primary {
  padding-bottom: 1em;
}
.section-title,
.article-full > h3 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-400);
}
.section-subtitle,
.article-full > h3 + p {
  font-size: var(--fs-600);
}
.article-full > h3 + p {
  margin-top: 0;
  font-family: var(--ff-serif);
  font-weight: var(--fw-200);
}
.page-title {
  font-size: var(--fs-900);
  letter-spacing: -0.1rem;
}
.page-content {
  font-size: var(--fs-600);
}
/* component */
.article-preview {
  position: relative;
  z-index: 0;
}
.article-preview h3 {
  font-weight: var(--fw-200);
  font-size: var(--fs-600);
  color: var(--clr-neutral-900);
}
.article-preview img {
  object-fit: cover;
  height: 12.5rem;
  width: 100%;
}
.article-preview .info {
  display: flex;
  gap: 1.625rem;
  font-size: var(--fs-200);
  color: var(--clr-neutral-400);
}
.article-preview > a {
  display: block;
  font-weight: inherit;
}
.article-preview > a::before {
  --offset: -1em;
  content: "";
  position: absolute;
  top: var(--offset);
  bottom: var(--offset);
  left: var(--offset);
  right: var(--offset);
  border-radius: var(--br);
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.25);
  transition: opacity 350ms ease;
  opacity: 0;
  z-index: 1;
}
.article-preview:hover a::before {
  opacity: 1;
}
/* homepage style  */
.home-introduction {
  --flow-spacer: 2em;
}
.subscription {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.subscription button {
  align-self: flex-start;
}
@media (min-width: 40em) {
  .subscription {
    flex-direction: row;
  }
  .subscription button {
    align-self: center;
  }
}
.subscription label {
  display: block;
  font-family: var(--ff-sans);
  font-weight: var(--fw-400);
  font-size: var(--fs-200);
  margin-bottom: 0.5em;
}
.subscription input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--clr-neutral-300);
  margin-bottom: 2px;
}
.subscription input:focus,
.subscription input:hover {
  border-color: var(--clr-primary-400);
  border-width: 4px;
  margin-bottom: 0;
}
.subscription input::placeholder {
  color: var(--clr-neutral-300);
  opacity: 1;
}
.subscription > div {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

/* blog-page */
.secondary-navigation {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.secondary-navigation .categories {
  display: flex;
  gap: 2em;
}
.secondary-navigation ul {
  margin: 0;
}
.secondary-navigation button {
  background: none;
  border: 0;
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  font-family: var(--ff-sans);
  cursor: pointer;
}
.secondary-navigation > a:last-child {
  margin-left: auto;
}
.article-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
}
.article-grid > * {
  /* grid-column: 1/7;
  grid-column: span 7; */
  grid-column: 1/-1;
}

@media (min-width: 40em) {
  .article-grid > *:nth-child(8n + 1) {
    /* grid-column: 1/7;
    grid-column: span 7; */
    grid-column: 1/-1;
  }
  .article-grid > .article-preview:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    gap: 1em 2em;
  }
  .article-grid > .article-preview:first-child > img {
    grid-row: span 3;
    height: 17.5rem;
  }
  .article-preview h3 {
    font-size: var(--fs-500);
    margin-top: auto;
  }
  .article-grid > *:nth-child(8n + 2),
  .article-grid > *:nth-child(8n + 3) {
    /* grid-column: 1/7; */
    /* grid-column: span 7; */
    grid-column: span 3;
  }

  .article-grid > *:nth-child(8n + 4),
  .article-grid > *:nth-child(8n + 5),
  .article-grid > *:nth-child(8n + 6) {
    /* grid-column: 1/7; */
    /* grid-column: span 7; */
    grid-column: span 2;
  }
  .article-grid > *:nth-child(8n + 7),
  .article-grid > *:nth-child(8n + 8) {
    /* grid-column: 1/7; */
    /* grid-column: span 7; */
    grid-column: span 3;
  }
}

/* article-page */
.article-full {
  --flow-spacer: 2em;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

/* article-barebone */
/* 
.article-full h2 {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  font-weight: var(--fw-200);
  color: var(--clr-neutral-900);
}
.article-full p {
  font-size: var(--fs-300);
}
.article-full h3 {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  font-weight: var(--fw-200);
  color: var(--clr-neutral-400);
  margin-bottom: 0;
}
.article-full h3 + p {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  font-weight: var(--fw-200);
  color: var(--clr-neutral-900);
  margin-top: 0;
} */
