:root {
  --clr-primary-500: #00a1ab;
  --clr-primary-900: #3741a0;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #fafafa;
  --clr-neutral-300: #e5e3e8;
  --clr-neutral-800: #4e4e4e;
}
/* ///////////////
  Reset
  ////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}
section {
  padding: 6rem 0;
}
.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  /* padding-top: 3em;
  padding-bottom: 0; */
  color: var(--clr-primary-500);
  margin: 0;
}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1000px;
}
.bg-dark {
  --btn-color: var(--clr-neutral-100);
  --btn-bg: var(--clr-primary-500);

  color: var(--clr-neutral-100);
  background: var(--clr-neutral-800);
}

.bg-light {
  --btn-bg: var(--clr-neutral-800);
  --btn-color: var(--clr-neutral-100);
  color: var(--clr-neutral-800);
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
}

.bg-accent {
  --btn-color: var(--clr-neutral-800);
  --btn-bg: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  background: linear-gradient(
    -45deg,
    var(--clr-primary-500),
    var(--clr-primary-900)
  );
}

/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--btn-bg, var(--clr-primary-500));
  color: var(--btn-color, var(--clr-neutral-100));
}

/* ///////////////
  Plans
  ////////////// */

.plans {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.plan {
  width: 16.5rem;
  padding: 2em;
  border-radius: 1em;
  margin: 0 0.5em;
}

.plan--light .plan__price {
  color: #00a1ab;
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

/* ///////////////
  Teams
  ////////////// */
.team {
  background: #e5e3e8;
  /* padding-top: 2rem; */
}
.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  background: #abc;
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;
}

.team-member img {
  width: 10rem;
  border-radius: 0.25em;
}

.team-member .info {
  padding-left: 1rem;
}
.team-member .name {
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 900;
}
.team-member .position {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
}
.team-member--light {
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
}

.team-member--dark {
  background: #4e4e4e;
  color: #fff;
}

.team-member--light .name {
  color: #00a1ab;
}
.team-member--light .position {
  color: #4e4e4e;
}
.team-member--dark .position {
  color: #fafafa;
}
