/* Font used
font-family: 'PT Sans', sans-serif; 
*/
:root {
  --clr-neutral-light: #fff;
  --clr-neutral-dark: #171717;
  --clr-accent: #59e89c;
  --ff: "PT Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--ff);

  margin: 0;
  padding: 0;
}
.hero {
  background-image: url(assets/hero.jpg);
  background-size: cover;
  text-align: center;

  /* padding: 8rem 12rem; */
}
.hero h2 {
  margin: 0;
}
.hero__content {
  background-color: burlywood;
  margin: 6rem 3rem;
  width: 80vw;
}
